<div class = "table_width">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
      　   <td><%= today_book.count %></td>
      　   <td><%= yesterday_book.count %></td>
      　   <td>
            <% if yesterday_book.count == 0 %>
              前日の投稿はありません
            <% else %>
        　     <% @the_day_before = today_book.count / yesterday_book.count.to_f  %>
        　     <%= (@the_day_before * 100).round %>%
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


<div class = "table_width">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>今週の投稿数</th>
        <th>前週の投稿数</th>
        <th>前週比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
   　    <td><%= this_week_book.count %></td>
   　    <td><%= last_week_book.count %></td>
        <td>
          <% if last_week_book.count == 0 %>
            前日の投稿はありません
          <% else %>
     　      <% @the_week_before = this_week_book.count / last_week_book.count.to_f  %>
     　      <%= (@the_week_before * 100).round %>%
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<h4>7日間分の投稿数</h4>
<div class = "table_width">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>6日前</th>
        <th>5日前</th>
        <th>4日前</th>
        <th>3日前</th>
        <th>昨日</th>
        <th>今日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= books.created_6days.count %></th>
        <th><%= books.created_5days.count %></th>
        <th><%= books.created_4days.count %></th>
        <th><%= books.created_3days.count %></th>
        <th><%= yesterday_book.count %></th>
        <th><%= today_book.count %></th>
      </tr>
    </tbody>
  </table>
</div>


<canvas id="myChart" width="300" height="100"> </canvas>
    <script> 
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',                      
        data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [{
                label: "投稿数",
                data: [<%= books.created_6days.count %>, <%= books.created_5days.count %>, <%= books.created_4days.count %>, <%= books.created_3days.count %>, <%= books.created_2days.count %>, <%= yesterday_book.count %>, <%= @today_book.count%>],
                backgroundColor: 'rgba(255, 80, 120, 1.0)',
                borderColor: 'rgba(255, 80, 120, 1.0)',
                fill: false
            }]
        },
    });
</script>