<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>

        <!--いいね機能-->
        <td id="favorite-btn_<%= book.id %>">
          <%= render "favorites/favorite", book: book %>
        </td>

        <td>
          <%= render "book_comments/counter", book: book %>
        </td>

        <div id="post_raty"></div>
          <script>
            // scriptファイルをどのidの部分に配置するかを指定
            let elem = document.querySelector('#post_raty');
            let opt = {
              //星画像の指定などのオプションをここに記述,
             };
            raty(elem,opt);
          </script>

        <td class="view-count">
          閲覧数: <%= book.view_counts.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>