<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @new_book %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"80x80" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>

          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
            <td>いいね</td>
            <td><%= "コメント数: #{@book.book_comments.count}" %></td>

        </tr>
      </table>

      <div class="flex-column">
      <% @book_comments.each do |book| %>
        <div class="d-flex align-items-center row">
          <div>
          <%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:"80x80" %><br>
          <%= book.user.name %>
          <% end %>
          </div>
          <div>
          <%= book.comment %>
          </div>
          <% if book.user == current_user %>
          <div>
            <%= link_to 'Destroy', book_book_comment_path(book.book, book), method: :delete, class: "btn btn-sm btn-danger"%>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>

      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
        <%= f.text_area :comment, class:"form-control", rows: '5' %><br>
        <%= f.submit "送信" %>
        <% end %>
      </div>

    </div>
  </div>
</div>