<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
        <p id="notice"><%= notice %></p>

        <div class="text-center">
        <% if user_signed_in? %>
          <%= form_tag(search_path, method: :get) do %>
            <%= text_field_tag (:word) %>
            <%= select_tag 'range' ,options_for_select([['User', ''], ['Book', '1']]) %>
            <%= select_tag 'search', options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %>

            <%= submit_tag "検索" %>
          <% end %>
        <% end %>
        </div>

        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
